body {
    background-color: #1A1125;
     /* background: linear-gradient(to bottom right, black 0%, #180d38 50%, #1d0958 100%);  */
    /* background: linear-gradient(to bottom right, #0e1444 , rgb(130, 15, 197)); */
    color: #ddd;
    font-family: 'Nunito';
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hi_user {
    display: flex;
    justify-content: center;
}

.tournaments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 350px;
}

.tournaments div{
    height: 120px;
    width: 200px;
    background-color: #5B04BC;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(16, 16, 16, 0.5);
}

.tournaments div:hover{
    background-color:#6402d4
}

.tournaments div a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-decoration: none;
    color: rgb(221, 221, 221);
}

.tournaments div a:hover{
    color: rgb(255, 255, 255);
}