body {
    background-color: #1A1125;
     /* background: linear-gradient(to bottom right, black 0%, #180d38 50%, #1d0958 100%);  */
    /* background: linear-gradient(to bottom right, #0e1444 , rgb(130, 15, 197)); */
    color: #ddd;
    font-family: 'Nunito';
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

.hi_user {
    display: flex;
    justify-content: center;
}

#game_table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 50%;
    max-width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(16, 16, 16, 0.5);
}

th, td {
    background: #5B04BC;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgb(45,45,45);
    padding: 8px;
    text-align: center;
}

td {
    color: white;
}

th:first-child, td:first-child {
    text-align: left;
    }
    th:first-child {
    border-top-left-radius: 10px;
    }
    th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    }
    td {
    padding: 10px 16px;
    background: #261D32;
    }
    tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    tr td:last-child {
    border-right: none;
    }

.table_what {
    color: white;
    text-align: center;
}

.table_who {
    font-size: 15px;
    color: #969696;
    text-align: left;
}